extends layout

block css

block content
   form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
      div.form-group
         label.control-label.col-sm-2(for="codigo") Perfil:
         div.col-sm-10
            input#insertPerfil.form-control(type="text" name="perfil" required placeholder="Insira um perfil")

block script